{% extends 'base.html' %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

<form class="form-home"  method="POST" action="/">
    <!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    </div> -->
    <nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 px-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Light control</h5>
        <button class="btn btn-danger" type="button" onclick="location.href={% url 'logout'%}">Logout</button>
    </nav>
    <div class="custom-control custom-switch">
        <form>
            {% csrf_token %}
            {{form.bedroom}}
            <label class="custom-control-label" for="customSwitch2">Bedroom desk light</label>
        </form>
    </div>
</form>

{% endblock %}